.WeatherForecast {
  text-align: center;
  font-weight: bold;
}
.WeatherForecast-temperature {
  margin-bottom: 10px;
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast .row canvas {
  margin: -5px;
  text-align: center;
}
