.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.Weather h1 {
  padding: 0 0 0 10px;
  margin: 0;
}

#geo-button {
  margin-left: 8px;
}

.WeatherInfo .temperature {
  font-size: 120px;
  font-weight: bolder;
}

.WeatherInfo .current-details {
  text-align: left;
  margin: 50px auto;
  display: block;
}
.row canvas {
  margin: 40px 60px;
  text-align: right;
}

.WeatherTemperature {
  vertical-align: top;
  text-align: center;
}
.WeatherTemperature .unit {
  font-size: 10px;
}

div.container {
  display: block;
  padding: 0;
}

.WeatherInfo .last-updated {
  margin: 0;
  font-weight: bold;
}

.box {
  border: solid #698796;
  border-radius: 10px;
  margin: 0 auto;

  background: #7799aa;
}
