.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather h1 {
  padding: 0 0 0 10px;
  margin: 0;
}
.WeatherInfo .temperature {
  font-size: 120px;
  font-weight: bolder;
}

.WeatherInfo .current-details {
  text-align: left;
}
.WeatherTemperature .unit {
  font-size: 10px;
}

div.container {
  display: block;
  padding: 0;
}

#weather-description {
  float: left;
}

.WeatherInfo .last-updated {
  margin: 0;
  font-weight: bold;
}

.box {
  border: solid #698796;
  border-radius: 10px;
  margin: 0 auto;

  background: #7799aa;
}

.weather-forecast {
  text-align: center;
}

.main-temp {
  font-size: 40px;
}
.row {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
